<div class="row">
  <div class="col-sm-12 header">
    <div class="col-sm-4">
      <span>Healthcare.gov</span>
    </div>
    <div class="col-sm-8">
      <a routerLink="/blog">Blog</a>
      <a routerLink="/glossary">Glossary</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>
  
  <div class="col-sm-12 content">
      <div class="form-contact">
        <div>Contact Us</div>
        
        <!--<form [formGroup]="userForm" (submit)="saveUser()">
          <input formControlName="name" id="name" placeholder="Name" [(ngModel)]="userForm.controls.name"/>
          <control-messages [control]="userForm.controls.name"></control-messages>

          <input formControlName="email" id="email" placeholder="Email" [(ngModel)]="userForm.controls.email"/>
          <control-messages [control]="userForm.controls.email"></control-messages>

          <textarea formControlName="message" id="message" placeholder="Message" [(ngModel)]="userForm.controls.message"></textarea>
          <control-messages [control]="userForm.controls.message"></control-messages>

          <button type="submit" [disabled]="!userForm.valid">Submit</button>
        </form>-->
      </div>
  </div>
</div>